@model ExaminationSystem.Models.Student
@{
    ViewData["Title"] = "SingleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<style>
        .whity {
            background-color: white;
            border-color: yellow;
            text-align: center;
            color: navy;
        }
    </style>

    <center>
        <h1>Student</h1>
        <button type="button" class="btn btn-info">
            <a asp-area="" asp-controller="Student" asp-action="AllDetails">Back to Student Details</a>
        </button>
        <button type="button" class="btn btn-info">
            <a asp-area="" asp-controller="Home" asp-action="index">Back to Home</a>
        </button>

        <table class="table" border="5">
            <thead>
                <tr class="thead-dark table-striped">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">EmailId</th>
                    <th scope="col">DOB</th>
                    <th scope="col">F_Name</th>
                    <th scope="col">M_Name</th>
                    <th scope="col">BG</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Mobile_Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Roll_Number</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td>@Model.sId</td>
                    <td>@Model.sName</td>
                    <td>@Model.sEmailId</td>
                    <td>@Model.sDOB</td>
                    <td>@Model.sFatherName</td>
                    <td>@Model.sMotherName</td>
                    <td>@Model.sBloodGroup</td>
                    <td>@Model.sGender</td>
                    <td>@Model.sMobileNumber</td>
                    <td>@Model.sAddress</td>
                    <td>@Model.sRollNumber</td>
                </tr>
            </tbody>
        </table>
    </center>*@

<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    a {
        color: white;
    }
</style>

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        @*<nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>*@

        <button type="button" class="btn btn-info">
            <a asp-area="" asp-controller="Student" asp-action="NewStudent">Add Student</a>
        </button>
        <button type="button" class="btn btn-info">
            <a asp-area="" asp-controller="Home" asp-action="index">Back to Home</a>
        </button>

        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.sName</h4>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Student Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email Id</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sEmailId
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">DOB</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sDOB
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Father's Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sFatherName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mother's Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sMotherName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Blood Group</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sBloodGroup
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sGender
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sMobileNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sAddress
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Roll Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.sRollNumber
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>